{% extends 'base.html' %}
{% block content %}
<main>
    <h1> My Receipts</h1>
    <table>
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Number of receipts </th>
                </tr>
            </thead>
            <tbody>
                {% for receipt in receipts %}
                    <tr>
                        <td>
                            {{ receipt.name }}
                        </td>
                        <td>
                            {{ receipt.receipts.all | length }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
</main>
{% endblock content %}